* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--neutral-silver, #f5f7fa);
}

header {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  margin-left: 105px;
  margin-right: 105px;
}
.nav-image {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.button {
  display: inline-flex;
  align-items: flex-start;
  gap: 14px;
}

.login {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--neutral-silver, #f5f7fa);
}

.singup {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: var(--brand-primary, #4caf4f);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 150px;
}

.hero-text {
  font-family: Inter;
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(77, 77, 77);
}
.hero-text span {
  color: rgb(76, 175, 79);
}

.hero-text-2 {
  color: rgb(113, 113, 113);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.register-button {
  position: static;
  width: 128px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 32px 14px 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 32px 0px;
  border-radius: 4px;
  background: rgb(76, 175, 79);
  /* Body/Medium/Body 2 */
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.hero-image {
  margin-top: 3rem;
}
