*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--neutral-silver, #F5F7FA);
}

header{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    margin-left: 105px;
    margin-right: 105px;
    
}
.nav-image{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.button{
display: inline-flex;
align-items: flex-start;
gap: 14px;
}

.login{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--neutral-silver, #F5F7FA);
}

.singup{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: var(--brand-primary, #4CAF4F);
}